@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}
:root {
    --primary-color: #032D6E;
    --secondary-color: #333;
    --tertiary-color: #fff;
}
img.logo-name {
    width: 150px;
}
.btn-contact {
    background: var(--primary-color);
    color: #fff;
}
section.navbar-section {
    box-shadow: 2px 2px 10px #80808052;
}