@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}
:root {
    --primary-color: #032D6E;
    --secondary-color: #f58020;
    --tertiary-color: #fff;
}
h3.titletextslider {
    font-size: 42px;
    font-weight: 600;
    max-width: 900px;
    line-height: 70px;
}
p.subtitleslider {
    font-size: 20px;
    max-width: 960px;
}
.btnslider {
    background: #fff;
    font-weight: 600;
    color: var(--primary-color);
}
.btnslider:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
}
.slider-prev {
    position: absolute;
    top: 50%;
    z-index: 1;
    background: #00000036;
    border-radius: 115px;
    width: 50px;
    height: 50px;
    color: white;
    left: 3%;
}

.slider-next {
    position: absolute;
    top: 50%;
    z-index: 1;
    background: #00000036;
    border-radius: 115px;
    width: 50px;
    height: 50px;
    color: white;
    right: 3%;
}

.slick-dots {
    bottom: 5% !important;
}
.slick-dots li button:before {
    font-size: 16px !important;
}
.bg-archivment {
    box-shadow: 2px 2px 4px #00000015, -2px -2px 4px #00000012;
    border-radius: 20px;
    margin-top: -100px;
    position: relative;
    background: white;
    z-index: 10;
}
/* empowerment */

h2.empowerment-text {
    font-weight: 600;
    color: var(--primary-color);
}
h2.empowerment-text span {
    color: var(--secondary-color);
}

img.image-empowerment {
    position: absolute;
    z-index: 13;
    left: 30%;
    top: 11%;
}
.arrow {
    position: absolute;
    width: 130px;
    height: 16px;
    background: linear-gradient(135deg, #38c8c4, #3ACECA);
    top: 79%;
    left: 50%;
    z-index: 12;
}
.empowerment-card.position-relative {
    padding: 5px;
}
.arrow:before, .arrow:after {
    display: block;
    content: "";
    position: absolute;
    left: 6.2rem;
    background: #3ACECA;
    width: 4.2rem;
    height: 1.3rem;
    transform-origin: 0.2rem center;
    transition: 0.5s;
    border-radius: 1rem;
}
.arrow:before {
    transform: rotate(45deg);
    top: -40px;
}
.arrow:after {
    transform: rotate(315deg);
    bottom: -40px;
}
.icon {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background: linear-gradient(180deg, var(--primary-light-color) 40%, var(--primary-dark-color) 100%);
    overflow: visible;
    z-index: 10;
}
.icon-circle {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    border: 17px solid;
    border-color: var(--primary-light-color) var(--primary-light-color);
    border-top: 17px solid transparent;
    border-right: 17px solid transparent;
    rotate: 30deg;
    top: 10%;
}
#icon1{
    background: linear-gradient(180deg, #3ACECA, #097189);
}
#icon-circle1{
    border-color: transparent transparent rgb(58, 206, 202) rgb(58, 206, 202);
}
.empowerment-card-content.text-center {
    padding: 90px 20px;
    margin-top: -70px;
    box-shadow: 4px 4px 10px #00000010, -4px -4px 10px #00000012;
    border-radius: 50px;
}
.empowerment-card-content:after {
    content: "";
    background: #ffffff;
    position: absolute;
    width: 87%;
    height: 141px;
    top: -6%;
    left: 15%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
}